body{
    background: url('./pexels-mudassir-ali-2680270.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: top center;
    align-items: center;

}

.countdown {
    text-align: center;
    margin-top: 100px;
    font-family:'Poppins', sans-serif;
    color: white;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    font-family:'Poppins', sans-serif;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    font-family:'Poppins', sans-serif;
    color: rgb(9, 60, 97);

}

#timer {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    font-family:'Poppins', sans-serif;
}

@media screen and (max-width: 1000px){
    .countdown{
        width:100%;
        text-align: center;
        margin-top: 50%;
        font-family:'Poppins', sans-serif;
        color: white;
        padding: 5%;
        font-size: 4vw;
    }
    button {
        padding: 5px 10px;
        margin-top: 10px;
        font-family:'Poppins', sans-serif;
        color: rgb(9, 60, 97);
        font-size: 2.8vw;
    }
    input[type="number"]{
        font-size: 2.8vw;
    }
    label{
        font-size: 3.8vw;
    }
    button.stopBtn{
background-color: rgb(166, 77, 77);
     }
     button.startBtn{
        background-color: rgb(68, 215, 85);
             }
     button.homeBtn{
        background-color: rgb(185, 140, 222);
                     }         
}



