body{
  background: url('./pexels-matej-1034425.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: top center;
 

}


.container {
    text-align: center;
    margin-top: 10%;
    font-family:'Poppins', sans-serif;
    color: rgb(176, 195, 226);

  }
  
  h1#timer {
    font-size: 5vw;
    font-family:'Poppins', sans-serif;
}
  
  
  .controls button {
    margin: 1%;
    font-family:'Poppins', sans-serif;
    border-radius: 1vw;
    color: #06000c;
    font-weight: bold;
}
  
  .home button{
     margin: 5%;
    font-family:'Poppins', sans-serif;
    color: #06000c;
    font-weight: bold;
    font-size: 1.5vw;
    
  }
  button#startBtn{
    background-color:rgb(171, 204, 171);
  }
  @media screen and (max-width: 1080px){
    .container{
      margin-top:50%;
    }
    .controls button{
      font-size: 2.5vw;
    }
    .home button{
      font-size: 3vw;
      background-color: rgb(218, 158, 233);
    }
    h1#timer{
      font-size: 8vw;
    }
    button#startBtn{
      background-color:rgb(171, 204, 171);
    }
    button#stopBtn{
      background-color:rgb(233, 154, 153);
    }
    button#resetBtn{
      background-color:rgb(127, 198, 225);
    }
  }